* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.logo {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}

.nav-icons i {
    margin-left: 20px;
    font-size: 18px;
    cursor: pointer;
}

/* HERO */
.hero {
    text-align: center;
    padding: 40px;
    background: linear-gradient(to bottom, #dff6ff, #ffffff);
}

/* SEARCH */
.search-box {
    display: inline-flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 15px;
    background: white;
}

.search-box input {
    border: none;
    outline: none;
    margin: 0 10px;
    width: 200px;
}

.search-box button {
    background: gold;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}

/* DOTS */
.dots {
    margin-top: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    background: gray;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}

.dot.active {
    background: black;
}

/* FAVORITES */
.favorites {
    padding: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* CARD */
.card {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    height: 120px;
}

.card h4 {
    margin-bottom: 10px;
}
.why {
    padding: 40px;
}